body{
    background-color:greenyellow;
    text-align:center;
}

h2{
    font-size:2.0em;
}

p{
    color:black;
    font:Shanti;
    font-size:1.0em;
    margin: 10px;
}

img{
    margin:10px 0 10px 0;
    width:600px;
}

input{
    width:200px;
    height:20px;
    margin:10px;
    border:none;
    border-radius:10px;
    font:Shanti;
    font-size:1.0em;
    text-align:center;
}

#run{
    background-color: rgb(127, 127, 255);
    color:white;
    width:50px;
    height:20px;
    margin:10px;
    border:none;
    border-radius:10px;
    font:Shanti;
    font-size:1.0em;
    text-align:center;
}

#image_upload{
    width:220px;
    height:20px;
    margin:10px;
    font:Shanti;
    font-size:1.0em;
    text-align:center;
}

#submit{
    background-color: rgb(127, 127, 255);
    color:white;
    width:100px;
    height:20px;
    margin:10px;
    border:none;
    border-radius:10px;
    font:Shanti;
    font-size:1.0em;
    text-align:center;
}